.experience,
.education {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 24px) 24px;
  grid-template-rows: 30px 30px 30px auto;
}

.education-section {
  width: 100%;
  margin-left: 4px;
  padding: 2px 5px;
}

.education-section,
.experience-section {
  width: 100%;
  margin: 5px auto;
  line-height: 1.5;
  .top-align > p:nth-child(1) {
    font-weight: 800;
  }
  * {
    font-size: var(--step--2);
  }
  .left-and-right {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
  }
  .top-align {
    display: flex;
    justify-content: flex-start;
    span {
      flex: 1;
      border-bottom: 1px dotted gray;
      position: relative;
      top: calc(var(--step--2) / -2);
    }
  }

  .left-align,
  .right-align {
    display: flex;
    flex-direction: column;
  }
}

fieldset {
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(auto, 330px));
  border: none;

  legend {
    font-family: "arvo";
    font-weight: 600;

    font-size: var(--step--2);
    color: white;
    background-color: #a29398;
    padding: 2px;
    position: relative;
    left: -10px;
  }
}

label {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  gap: 5px;
}

#add-icon {
  width: 100%;
  margin: 5px;
  padding: 1px 5px;
  background: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: cell;
}

#deleteIcon,
#moveUpIcon,
#moveDownIcon {
  grid-column: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

form {
  border: 2px solid black;
  padding: 5px;

  > section {
    border: 1px dashed black;
  }
}

.responsibility {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
textarea {
  grid-column: 2;
  width: 100%;
  padding: 3px;
}

input:disabled {
  color: gray;
}

.resp-list {
  grid-column: 1 / -1;

  > div {
    font-weight: 600;
    background-color: #e0eaf8;
    padding: 2px;

    > button {
      padding: 2px;
      border-radius: 5px;
      border: 1px outset black;
      box-shadow: 2px 2px 1px 1px gray;
    }

    > button:hover {
      box-shadow: 1px 1px 2px 2px rgb(190, 189, 189);
    }
  }
  button {
    border: 1px solid gray;
    background-color: #e0eaf8;
  }
  button:hover {
    border: 1px solid black;
    background-color: #98b9e8;
    cursor: cell;
  }
}

#add-resp {
  margin-left: 5px;
  border: 1px double black;

  margin: 2px;
}
